[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
typing_extensions = "*"
atomicwrites = "*"
bandit = "*"
flake8 = "*"
mypy = "*"
black = "*"

[packages]
pytest = "*"

[requires]
python_version = "3.9"
